body {
	background-color: lightblue;
}
.customDiv {
	background-color: lightgrey;
	margin: 20px;
	font-size: 24px;
	padding: 10px;
	width: 50%;
}
.border {
	border-style: solid;
	padding: 10px;
}
.listColor {
	color: green;
}
.listBlue {
	color: blue;
}